{{!< default}}

{{# each data.posts}}
<div class="first">
	<img class="img-post"src={{image.url}} />
	<p class="p-post">
		{{title}} <span class="price">${{price}}</span><br />
		<small>Mustard sierra leone bologi kale chard beet greens black-eyed pea sorrel amaranth garlic tigernut spring onion summer purslane asparagus lentil.</small>
	</p>
</div>
{{/each}}